docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

docker_repo_url: "https://download.docker.com/linux/ubuntu"
docker_gpg_key_url: "https://download.docker.com/linux/ubuntu/gpg"
docker_key_path: "/etc/apt/keyrings/docker.asc"
docker_sources_list: "/etc/apt/sources.list.d/docker.sources"
